<div class="card-item col">
  {%- if cheatsheet.redirect -%}
  <a href="{{ cheatsheet.redirect }}">
  {%- else -%}
  <a href="{{ cheatsheet.url | relative_url }}">
  {%- endif -%}
    <div class="card hoverable">
      <div class="row g-0">
        {%- if cheatsheet.img -%}
        <div class="card-img col-md-6">
          {% include figure.html path=cheatsheet.img alt="cheatsheet thumbnail" %}
        </div>
        <div class="col-md-6">
        {%- else -%}
        <div class="col-md-12">
        {%- endif -%}
          <div class="card-body">
            <h3 class="card-title text-lowercase">{{ cheatsheet.title }}</h3>
            <p class="card-text">{{ cheatsheet.description }}</p>
            <div class="row ml-1 mr-1 p-0">
              {%- if cheatsheet.github -%}
              <div class="github-icon">
                <div class="icon" data-toggle="tooltip" title="Code Repository">
                  <a href="{{ cheatsheet.github }}"><i class="fab fa-github gh-icon"></i></a>
                </div>
                {%- if cheatsheet.github_stars -%}
                <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                  <i class="fas fa-star"></i>
                  <span id="{{ cheatsheet.github_stars }}-stars"></span>
                </span>
                {%- endif -%}
              </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
